## Data Science and Probability Assignment

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
text_doc = ["Glowing review overall, and some really interesting side-by-side ",
           "photography tests pitting the iPhone 11 Pro against the ",
           "Galaxy Note 10 Plus and last year’s iPhone XS and Google Pixel 3.",
           "iphone vs samsung who will win ?",
           "I am huge fan of galaxy note",
           "first of all test buy iphone for good comparison"]

user= ['rohan','raj','danish','karan','vivek','madhav']

entity= ['android','iPhone','galaxy','tab','galaxy','iphone']

### join approach + nulls

In [3]:
review_data = pd.DataFrame(zip(text_doc,user,entity),columns=['review','user','entity'])

In [4]:
review_data

                                              review    user   entity
0  Glowing review overall, and some really intere...   rohan  android
1  photography tests pitting the iPhone 11 Pro ag...     raj   iPhone
2  Galaxy Note 10 Plus and last year’s iPhone XS ...  danish   galaxy
3                   iphone vs samsung who will win ?   karan      tab
4                       I am huge fan of galaxy note   vivek   galaxy
5   first of all test buy iphone for good comparison  madhav   iphone

In [5]:
user= ['rohan','rohan', 'rohan', 'raj','raj','danish','danish','karan','vivek','vivek','vivek','madhav']
year = [2019,2020,2021,2020,2021,2018,2021,2020,2021,2019,2020,2019]
os = ['apple','android','windows','apple','android','windows','apple','android','apple','apple','windows','windows']
user_data = pd.DataFrame(zip(user,year,os),columns=['userName','year','os'])

In [7]:
user_data

   userName  year       os
0     rohan  2019    apple
1     rohan  2020  android
2     rohan  2021  windows
3       raj  2020    apple
4       raj  2021  android
5    danish  2018  windows
6    danish  2021    apple
7     karan  2020  android
8     vivek  2021    apple
9     vivek  2019    apple
10    vivek  2020  windows
11   madhav  2019  windows

###### Q1 Combine User and review data in order to get the latest year and OS used by each user for the review?

In [12]:
import pandas as pd

In [13]:
data = pd.merge(user_data,review_data, left_on='userName', right_on='user')

In [14]:
data

   userName  year  ...    user   entity
0     rohan  2019  ...   rohan  android
1     rohan  2020  ...   rohan  android
2     rohan  2021  ...   rohan  android
3       raj  2020  ...     raj   iPhone
4       raj  2021  ...     raj   iPhone
5    danish  2018  ...  danish   galaxy
6    danish  2021  ...  danish   galaxy
7     karan  2020  ...   karan      tab
8     vivek  2021  ...   vivek   galaxy
9     vivek  2019  ...   vivek   galaxy
10    vivek  2020  ...   vivek   galaxy
11   madhav  2019  ...  madhav   iphone

[12 rows x 6 columns]

In [18]:
data1 = data.sort_values(by=['year'])

In [19]:
data1.drop_duplicates(subset='user', keep='last')

   userName  year  ...    user   entity
11   madhav  2019  ...  madhav   iphone
7     karan  2020  ...   karan      tab
2     rohan  2021  ...   rohan  android
4       raj  2021  ...     raj   iPhone
6    danish  2021  ...  danish   galaxy
8     vivek  2021  ...   vivek   galaxy

[6 rows x 6 columns]

###### Q2. Generate a new column "unique number of words in a review".

In [21]:
data['unique'] = data['review'].str.count(' ') + 1

In [42]:
data

   userName  year       os  ...    user   entity unique
0     rohan  2019    apple  ...   rohan  android      9
1     rohan  2020  android  ...   rohan  android      9
2     rohan  2021  windows  ...   rohan  android      9
3       raj  2020    apple  ...     raj   iPhone     10
4       raj  2021  android  ...     raj   iPhone     10
5    danish  2018  windows  ...  danish   galaxy     13
6    danish  2021    apple  ...  danish   galaxy     13
7     karan  2020  android  ...   karan      tab      7
8     vivek  2021    apple  ...   vivek   galaxy      7
9     vivek  2019    apple  ...   vivek   galaxy      7
10    vivek  2020  windows  ...   vivek   galaxy      7
11   madhav  2019  windows  ...  madhav   iphone      9

[12 rows x 7 columns]

In [43]:
txt = data['review'].tolist()

In [47]:
txt

['Glowing review overall, and some really interesting side-by-side ',
 'Glowing review overall, and some really interesting side-by-side ',
 'Glowing review overall, and some really interesting side-by-side ',
 'photography tests pitting the iPhone 11 Pro against the ',
 'photography tests pitting the iPhone 11 Pro against the ',
 'Galaxy Note 10 Plus and last year’s iPhone XS and Google Pixel 3.',
 'Galaxy Note 10 Plus and last year’s iPhone XS and Google Pixel 3.',
 'iphone vs samsung who will win ?',
 'I am huge fan of galaxy note',
 'I am huge fan of galaxy note',
 'I am huge fan of galaxy note',
 'first of all test buy iphone for good comparison']

In [40]:
uniq = data['unique'].tolist()

In [41]:
uniq

[9, 9, 9, 10, 10, 13, 13, 7, 7, 7, 7, 9]

#### Q4 What is TFIDF vectorization ?

In [ ]:
tf - idf is basically a measure that will tell how relevant a word is to a document in a collection of documents

#### Q5 What all operations can you perform on string before applying tfidf vectorizer (theory).

Perform following operations on string
1. lowercase<br>
2. remove digits and punct<br>
3. remove stopwords<br>

In [ ]:
s = "India"

In [ ]:
s.lower()

In [24]:
import re

In [27]:
s1 = " I am 20 years old"
review = re.sub('[^a-zA-Z]', ' ', s1)
review

' I am    years old'

In [34]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [38]:
s2 = "I am not going to visit you anytime soon"
all_stopwords = stopwords.words('english')

In [39]:
for word in s2.split(" "):
  if word not in all_stopwords:
    print(word)

I
going
visit
anytime
soon

# Stats

Q. It is estimated that 50% of emails are spam emails. Some software has been applied to filter these spam emails before they reach your inbox. A certain brand of software claims that it can detect 99% of spam emails, and the probability for a false positive (a non-spam email detected as spam) is 5%. Now if an email is detected as spam, then what is the probability that it is in fact a non-spam email?

In [ ]:
(1/2)*(99/100)*(1/20)

Q Peter and Paula are two persons:
Peter randomly rolls a dice once and cuts a square from a sheet of paper with side value = value on dice
Paula however rolls the dice twice, and cuts a rectangle with length as first roll value and breadth as second roll value
On an average, what is the size of area end up cutting by each person. Are they equal? If not then who cuts the larger area and why?

In [ ]:
No the average area cut by them are not equal. peter cuts the larger area with an average of 15.16 while paula has an average of 7